<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HW. Asynchrony and date. Promises</title>
    <link rel="stylesheet" href="./asynchrony_and_date__promises.css" />
  </head>
  <header>
    <div class="nav">
      <ul>
        <li><a href="/src/index.html">Home</a></li>
      </ul>
      <ul>
        Abstract
        <li><a href="">HTML basics</a></li>
        <li><a href="">CSS basics</a></li>
        <li><a href="">Block model. Flexbox</a></li>
        <li><a href="">Vector graphics</a></li>
        <li><a href="">Positioning and animation</a></li>
        <li><a href="">Forms</a></li>
        <li><a href="">BEM SASS</a></li>
        <li><a href="">Adaptive layout</a></li>
        <li><a href="">Variables and types. Branching. Cycles</a></li>
        <li><a href="">Arrays. Functions</a></li>
        <li><a href="">Objects. Rest and spread operations</a></li>
        <li><a href="">Iterating array methods</a></li>
        <li><a href="">Keyword this. Prototypes and classes</a></li>
        <li><a href="">DOM and events</a></li>
        <li><a href="">Patterns and event optimization</a></li>
        <li><a href="">Project infrastructure. Web storage</a></li>
        <li><a href="">Asynchrony and Date. Promises</a></li>
        <li><a href="">Interaction with the backend</a></li>
        <li><a href="">Asynchronous functions</a></li>
      </ul>
      <ul>
        Examples and components
        <li><a href="">HTML basics</a></li>
        <li><a href="">CSS basics</a></li>
        <li><a href="">Block model. Flexbox</a></li>
        <li><a href="">Vector graphics</a></li>
        <li><a href="">Positioning and animation</a></li>
        <li><a href="">Forms</a></li>
        <li><a href="">BEM SASS</a></li>
        <li><a href="">Adaptive layout</a></li>
        <li><a href="">Variables and types. Branching. Cycles</a></li>
        <li><a href="">Arrays. Functions</a></li>
        <li><a href="">Objects. Rest and spread operations</a></li>
        <li><a href="">Iterating array methods</a></li>
        <li><a href="">Keyword this. Prototypes and classes</a></li>
        <li><a href="">DOM and events</a></li>
        <li><a href="">Patterns and event optimization</a></li>
        <li><a href="">Project infrastructure. Web storage</a></li>
        <li><a href="">Asynchrony and Date. Promises</a></li>
        <li><a href="">Interaction with the backend</a></li>
        <li><a href="">Asynchronous functions</a></li>
      </ul>
      <ul>
        JS-HW
        <li><a href="">Variables and types. Branching. Cycles</a></li>
        <li><a href="">Arrays. Functions</a></li>
        <li><a href="">Objects. Rest and spread operations</a></li>
        <li><a href="">Iterating array methods</a></li>
        <li><a href="">Keyword this. Prototypes and classes</a></li>
        <li><a href="">DOM and events</a></li>
        <li><a href="">Patterns and event optimization</a></li>
        <li><a href="">Project infrastructure. Web storage</a></li>
        <li><a href="">Asynchrony and Date. Promises</a></li>
        <li><a href="">Interaction with the backend</a></li>
        <li><a href="">Asynchronous functions</a></li>
      </ul>

      <ul>
        JS-tasks
      </ul>
    </div>
  </header>
  <body>
    <h1 class="title">Asynchrony and date. Promises</h1>
  </body>
</html>
