<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Examples. Asynchrony and date. Promises</title>
    <link rel="stylesheet" href="./asynchrony_and_date__promises.css" />
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"> -->
  </head>
  <body>
    <header>
      <div class="nav">
        <ul>
          <li><a href="/src/index.html">Home</a></li>
        </ul>
        <ul>
          Abstract
          <li><a href="">HTML basics</a></li>
          <li><a href="">CSS basics</a></li>
          <li><a href="">Block model. Flexbox</a></li>
          <li><a href="">Vector graphics</a></li>
          <li><a href="">Positioning and animation</a></li>
          <li><a href="">Forms</a></li>
          <li><a href="">BEM SASS</a></li>
          <li><a href="">Adaptive layout</a></li>
          <li><a href="">Variables and types. Branching. Cycles</a></li>
          <li><a href="">Arrays. Functions</a></li>
          <li><a href="">Objects. Rest and spread operations</a></li>
          <li><a href="">Iterating array methods</a></li>
          <li><a href="">Keyword this. Prototypes and classes</a></li>
          <li><a href="">DOM and events</a></li>
          <li><a href="">Patterns and event optimization</a></li>
          <li><a href="">Project infrastructure. Web storage</a></li>
          <li><a href="">Asynchrony and Date. Promises</a></li>
          <li><a href="">Interaction with the backend</a></li>
          <li><a href="">Asynchronous functions</a></li>
        </ul>
        <ul>
          Examples and components
          <li><a href="">HTML basics</a></li>
          <li><a href="">CSS basics</a></li>
          <li><a href="">Block model. Flexbox</a></li>
          <li><a href="">Vector graphics</a></li>
          <li><a href="">Positioning and animation</a></li>
          <li><a href="">Forms</a></li>
          <li><a href="">BEM SASS</a></li>
          <li><a href="">Adaptive layout</a></li>
          <li><a href="">Variables and types. Branching. Cycles</a></li>
          <li><a href="">Arrays. Functions</a></li>
          <li><a href="">Objects. Rest and spread operations</a></li>
          <li><a href="">Iterating array methods</a></li>
          <li><a href="">Keyword this. Prototypes and classes</a></li>
          <li><a href="">DOM and events</a></li>
          <li><a href="">Patterns and event optimization</a></li>
          <li><a href="">Project infrastructure. Web storage</a></li>
          <li><a href="">Asynchrony and Date. Promises</a></li>
          <li><a href="">Interaction with the backend</a></li>
          <li><a href="">Asynchronous functions</a></li>
        </ul>
        <ul>
          JS-HW
          <li><a href="">Variables and types. Branching. Cycles</a></li>
          <li><a href="">Arrays. Functions</a></li>
          <li><a href="">Objects. Rest and spread operations</a></li>
          <li><a href="">Iterating array methods</a></li>
          <li><a href="">Keyword this. Prototypes and classes</a></li>
          <li><a href="">DOM and events</a></li>
          <li><a href="">Patterns and event optimization</a></li>
          <li><a href="">Project infrastructure. Web storage</a></li>
          <li><a href="">Asynchrony and Date. Promises</a></li>
          <li><a href="">Interaction with the backend</a></li>
          <li><a href="">Asynchronous functions</a></li>
        </ul>

        <ul>
          JS-tasks
        </ul>
      </div>
    </header>
    <main>
      <h1 class="title">Examples. Asynchrony and date. Promises</h1>

      <div class="container">
        <h2>Title container</h2>
        <div class="section">
          <!--! Notification -->
          <h3>Notification</h3>
          <h4>Завдання</h4>
          <p>Зробити нотифікашку, яка, при кліку на кнопку з'являлась би на певний час, і потім зникала</p>
          <h4>Логіка рішення</h4>
          <ol>
            <li>Ініціалізуємо змінні для затримки setTimeout'a і для очистки timeoutId</li>
            <li>Беремо посилання на html-розмітку</li>
            <li>Вішаємо на нього слухача подій</li>
            <li>Пишемо дві функції: показати нотифікашку і приховати нотифікашку.</li>
            <li>Викликаємо функцію показати нотифікашку</li>
            <li>В функцію показати нотифікашку додаємо клас is-visible. Також додаємо функцію приховати нотифікашку, обернену в setTimeout</li>
            <li>В функції приховати нотифікашку ми прибираємо клас is-visible</li>
            <li>В функції кліка на нотифікашку відміняємо setTimeout</li>
            
          </ol>

          <p class="alert success js-alert">
            Операція була виконана успішно
          </p>
          <button class="notification" type="button">Нотифікашка</button>
        </div>
        <div class="section">
          <!--! Annoying-->
          <h3>Annoying</h3>
          <!-- <div
  id="subscription-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p>Подпишись на рассылку</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >
          Закрыть
        </button>
        <button type="button" class="btn btn-primary" data-subscribe>
          Подписаться
        </button>
      </div>
    </div>
  </div>
</div> -->
        </div>

        <div class="section">
          <!--! Timer Repeta-->
          <h3>Timer Repeta</h3>
          <div class="timer">
            <p class="clockface js-clockface"></p>

            <div class="actions">
              <button class="timer-btn" data-action-start>Start</button>
              <button class="timer-btn" data-action-stop>Stop</button>
            </div>
          </div>
        </div>

        <!--! -->
        <div class="section">
          <h3>Clock Rysich</h3>
          <div class="calendar">
            <div class="date-style">
                День тижня:
                <div class="date-day"> 0</div>
            </div>
            <div class="date-style">
                День місяця:
                <div class="date"> 0</div>
            </div>
            <div class="date-style">
                Місяць:
                <div class="date-month"> 0</div>
            </div>
            <div class="date-style">
                Рік:
                <div class="date-year"> 0</div>
            </div>
        </div>
        <div class="digital-clock">0</div>
        <div class="clock">
            <div class="clock-arrow clock-seconds__arrow"></div>
            <div class="clock-arrow clock-minutes__arrow"></div>
            <div class="clock-arrow clock-hours__arrow"></div>
            <div class="clock-center"></div>
        </div>
        </div>

        <!--! -->
        <div class="section">
          <h3>Section header</h3>
        </div>
        <!--! -->
        <div class="section">
          <h3>Section header</h3>
        </div>
        <!--! -->
        <div class="section">
          <h3>Section header</h3>
        </div>
        <!--! -->
        <div class="section">
          <h3>Section header</h3>
        </div>
        <!--! -->
        <div class="section">
          <h3>Section header</h3>
        </div>
        <!--! -->
        <div class="section">
          <h3>Section header</h3>
        </div>
        <!--! -->
        <div class="section">
          <h3>Section header</h3>
        </div>
        <!--! -->
        <div class="section">
          <h3>Section header</h3>
        </div>
        <!--! -->
        <div class="section">
          <h3>Section header</h3>
        </div>
      </div>
    </main>
    <footer></footer>
    <script src="./asynchrony_and_date__promises.js" type="module"></script>
  </body>
</html>
